.button {
  position: relative;
  text-decoration: none;  
  transition: $transition-fast;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  background: transparent;

  height: 30px;
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 12px;
}

.button__default {
  @include button($color-base, $color-line, #fff, $color-bg);
}

.button__primary {
  @include button(#fff, $color-blue-brd, $color-blue, $color-blue-bg);
}
