.dropdown-menu {
  min-width: auto;
  width: 100%;
}

.dropdown-menu > li > a {
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown-menu > li > a:hover {
  color: #fff;
  background-color: $color-blue;
}