.page-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 90px;
  background: $color-bg;
  border-bottom: 1px solid $color-line;

  padding: 0 15px;
}

.page-top__heading {
  font-size: 25px;
  flex: 1 1 auto;
  margin: 0;
}

.page-top__search {
  width: 350px;
}

.page-top__dropdown {
  width: 140px; 
}