.sidebar {
  position: absolute;
  top: 51px;
  left: 0;
  bottom: 0;
  background: $color-bg;
  width: 200px;

  border-right: 1px solid $color-line;
}

.sidebar__nav {
  @include list();
}

.sidebar__nav > li {
  border-bottom: 1px solid $color-line;
}

.sidebar__nav > li > a {
  display: block;
  padding: 15px;
  font-size: 14px;
  color: $color-base;
  
  &.active,
  &:hover {
    border-left: 4px $color-blue solid;
  }

  &.active {
    border-bottom: 1px solid $color-line;  
  }
}

.sidebar__nav > li > a > i {
  margin-right: 10px;
}

.sidebar__subnav {
  display: none;
  @include list();
  padding: 8px 0;
}

.sidebar__subnav > li > a {
  display: block;
  padding: 6px 6px 6px 54px;
  font-size: 12px;
  color: $color-base;
  @include link();

  &.active {
    font-weight: 700;
  }
}