<header class="page-top container-fluid">
  <h1 class="page-top__heading">User overview</h1>
  <div class="dropdown page-top__dropdown" id="jsUsergroupFilter">
    <div class="dropdown__backdrop"></div>
    <button class="button dropdown__button">
      <span class="dropdown__name">Filter usergroup</span>
      <i class="ico-down-dir dropdown__caret"></i>
    </button>
    <ul class="dropdown__menu">
      <li>
        <a href="#" role="button">
          <label class="checkbox">
            <input type="checkbox" name="checkbox">
            <i class="ico-ok"></i>
            <span>Captain</span>
          </label>
        </a>
      </li>
      <li>
        <a href="#" role="button">
          <label class="checkbox">
            <input type="checkbox" name="checkbox">
            <i class="ico-ok"></i>
            <span>Colonel</span>
          </label>
        </a>
      </li>
      <li>
        <a href="#" role="button">
          <label class="checkbox">
            <input type="checkbox" name="checkbox">
            <i class="ico-ok"></i>
            <span>General</span>
          </label>
        </a>
      </li>
      <li>
        <a href="#" role="button">
          <label class="checkbox">
            <input type="checkbox" name="checkbox">
            <i class="ico-ok"></i>
            <span>Lieutenant</span>
          </label>
        </a>
      </li>
      <li>
        <a href="#" role="button">
          <label class="checkbox">
            <input type="checkbox" name="checkbox">
            <i class="ico-ok"></i>
            <span>Officer</span>
          </label>
        </a>
      </li>
    </ul>
  </div>
  <div class="search page-top__search">
    <input type="text" class="search__input" placeholder="Search for user">
    <button class="search__btn button button__default">
      <i class="ico-search"></i>
    </button>
  </div>
  <button class="button button__default"><i class="ico-sliders"></i> Advanced filter</button>
  <button class="button button__primary">Add user</button>
</header>