<header class="page-header container-fluid">
  <h1 class="page-header__heading">User overview</h1>
  <div class="dropdown dropdown-filter">
    <div class="dropdown__backdrop"></div>
    <button class="button dropdown__button">
      <span class="dropdown__name">Filter usergroup</span>
      <span class="dropdown__caret"></span>
    </button>
    <ul class="dropdown__menu">
      <li>
        <a href="#" role="button">
          <label class="checkbox">
            <input type="checkbox" name="checkbox">
            <i class="ico-ok"></i>
            Captain
          </label>
        </a>
      </li>
      <li>
        <a href="#" role="button">
          <label class="checkbox">
            <input type="checkbox" name="checkbox">
            <i class="ico-ok"></i>
            Colonel
          </label>
        </a>
      </li>
      <li>
        <a href="#" role="button">
          <label class="checkbox">
            <input type="checkbox" name="checkbox">
            <i class="ico-ok"></i>
            General
          </label>
        </a>
      </li>
      <li>
        <a href="#" role="button">
          <label class="checkbox">
            <input type="checkbox" name="checkbox">
            <i class="ico-ok"></i>
            Lieutenant
          </label>
        </a>
      </li>
      <li>
        <a href="#" role="button">
          <label class="checkbox">
            <input type="checkbox" name="checkbox">
            <i class="ico-ok"></i>
            Officer
          </label>
        </a>
      </li>
    </ul>
  </div>
  <div class="search page-header__search">
    <input type="text" class="search__input" placeholder="Search for user">
    <button class="search__btn button button__default">
      <i class="ico-search"></i>
    </button>
  </div>
  <button class="button button__default"><i class="ico-sliders"></i> Advanced filter</button>
  <button class="button button__primary">Add user</button>
</header>