<aside class="sidebar">
  <nav>
    <ul class="sidebar__nav">
      <li>
        <a href="#" role="button" class="js-has-subnav">
          <i class="ico-comment"></i>
          Forum
        </a>
        <ul class="sidebar__subnav">
          <li>
            <a href="#">Forum link #1</a>
          </li>
          <li>
            <a href="#">Forum link #2</a>
          </li>
          <li>
            <a href="#">Forum link #3</a>
          </li>
          <li>
            <a href="#">Forum link #4</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" role="button">
          <i class="ico-brush"></i>
          Blog
        </a>
      </li>
      <li>
        <a href="#" role="button">
          <i class="ico-beaker"></i>
          Research
        </a>
      </li>
      <li>
        <a href="#" role="button">
          <i class="ico-inbox"></i>
          Inbox
        </a>
      </li>
      <li>
        <a href="#" role="button" class="js-has-subnav is-active">
          <i class="ico-user"></i>
          Users
        </a>
        <ul class="sidebar__subnav" style="display: block;">
          <li>
            <a href="#" class="is-active">Overview</a>
          </li>
          <li>
            <a href="#">Moderation</a>
          </li>
          <li>
            <a href="#">Add user</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#" role="button">
          <i class="ico-cog"></i>
          Settings
        </a>
      </li>
    </ul>
  </nav>
</aside>