<div class="tablebar mb10">

  <div class="tablebar__result"><span class="h-bold">Results:</span> 1337</div>
  <div class="tablebar__tools">






    <div class="dropdown element" id="jsRowsCount">
      <div class="dropdown__backdrop"></div>
      <button class="button dropdown__button is-selected">
        <span class="dropdown__name">10 Rows</span>
        <i class="ico-down-dir dropdown__caret"></i>
      </button>
      <ul class="dropdown__menu">
        <li>
          <a href="#" role="button">
            10 Rows
          </a>
        </li>
        <li>
          <a href="#" role="button">
            25 Rows
          </a>
        </li>
        <li>
          <a href="#" role="button">
            50 Rows
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>